# linear regression

In [142]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [143]:
df = pd.read_csv("Tech_sector_diversity_demographics_2016.csv")
df.head()

  job_category             race_ethnicity  gender   count  percentage
0  All workers                      White    Male  268883   41.257252
1  All workers                      White  Female  105560   16.197065
2  All workers  Black_or_African American    Male   17508    2.686417
3  All workers  Black_or_African American  Female   11479    1.761331
4  All workers                      Asian    Male  125347   19.233171

In [144]:
#Percentage of Male and Female African Americans in by job categories in tech
X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","gender","percentage"]].values
y = df["percentage"].values

In [145]:
X

array([['All workers', 'Male', 2.686417389],
       ['All workers', 'Female', 1.761331118],
       ['Executives', 'Male', 0.966962127],
       ['Executives', 'Female', 0.42707494],
       ['Managers', 'Male', 1.515282708],
       ['Managers', 'Female', 0.940918406],
       ['Professionals', 'Male', 1.827309004],
       ['Professionals', 'Female', 1.089251328]], dtype=object)

In [146]:
#Percentage of Female African Americans in by job categories in tech
X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","gender","percentage"]].set_index(["gender"]).loc["Female"].values
#[df["gender"] == "Female"]
#X = df[[df["race_ethnicity"] == "Black_or_African American"],[df["gender"] == "Female"]][["job_category","race_ethnicity","gender","percentage"]].values
#X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","race_ethnicity","gender","percentage"]].values
y = df["percentage"].values

In [147]:
X

array([['All workers', 1.761331118],
       ['Executives', 0.42707494],
       ['Managers', 0.940918406],
       ['Professionals', 1.089251328]], dtype=object)

In [149]:
#Percentage of Male African Americans in by job categories in tech
X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","gender","percentage"]].set_index(["gender"]).loc["Male"].values
y = df["percentage"].values

In [150]:
X

array([['All workers', 2.686417389],
       ['Executives', 0.966962127],
       ['Managers', 1.515282708],
       ['Professionals', 1.827309004]], dtype=object)

In [159]:
#Percentage of Male and Female African Americans in by job categories in tech(how to add)
X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","gender","percentage"]].set_index(["gender"]).loc["Female"].values + df[df["race_ethnicity"] == "Black_or_African American"][["job_category","gender","percentage"]].set_index(["gender"]).loc["Male"].values
#[df["gender"] == "Female"]
#X = df[[df["race_ethnicity"] == "Black_or_African American"],[df["gender"] == "Female"]][["job_category","race_ethnicity","gender","percentage"]].values
#X = df[df["race_ethnicity"] == "Black_or_African American"][["job_category","race_ethnicity","gender","percentage"]].values
y = df["percentage"].values

SyntaxError: cannot assign to operator (2517191546.py, line 2)

In [158]:
X

array([['All workers', 'Male', 2.686417389],
       ['All workers', 'Female', 1.761331118],
       ['Executives', 'Male', 0.966962127],
       ['Executives', 'Female', 0.42707494],
       ['Managers', 'Male', 1.515282708],
       ['Managers', 'Female', 0.940918406],
       ['Professionals', 'Male', 1.827309004],
       ['Professionals', 'Female', 1.089251328]], dtype=object)